body{
    margin: 0px;
    padding: 0px;
}
#textbox{
    width: 20%;
    height: 400px;
    background: gray;
    margin: 100px auto;
    padding: 5%  8%; 
    border: 1px , solid ,red;
    border-radius: 3%;
    
 }
 #textbox p{
     width: 70%;
     font-size: 0.8em;
 }

 #email ,#name ,#pass{
          width: 100%;
          height: 30px;
          border-radius: 2%;
          margin: 2% 0px 2% 0px;  
 }
 #male , #female{
        width: 10%;
        height: 20px;
        
 }
.radio{
    font-size: 1.2em;
}
.gender{
    width: 100%;
    height: 20px;
    padding: 30px 0px 30px 0px;
}
#button{
    width: 35%;
    height: 30px;
    background-color: lightgrey;
    margin: 0px 2% 0px 50%;
  
    
}
